---
permalink: /404.html
---
<!DOCTYPE html>
<html lang="cs">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <head><title>File not found</title></head>
	<meta name="viewport" content="width=device-width" />
	<meta name="theme-color" content="#fff">
  <style>
		html{height:100%;}
		body{font-family:Arial,sans-serif;color:#000;background:#fff;height:100%;margin:0;padding:0;}
		div{display:flex;align-items:center;justify-content:center;height:100%;flex-direction:column;}
		#404{width:100%;max-width:600px;}
		h1{width:80%;text-align:center;}
  </style>
  <body>

		<div>
			<a href="//www.free404.com"><img src="static/404.jpg" alt="File not found" id="404" /></a>
		<h1>File not found</h1>
		</div>

  </body>
</html>