<!DOCTYPE html>
<html>
	<head>
		<title>Sadarwa Blog -Admin Dashboard</title>
		<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
		
		<script
			  src="https://code.jquery.com/jquery-2.2.4.min.js"
			  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			  crossorigin="anonymous"></script>
			  <script src="/static/bootstrap/js/bootstrap.js"></script>
		{% block style %}
		{% endblock %}
		
		
	</head>
	<body>
	<nav class="navbar navbar-expand-md navbar-dark bg-primary">
		
		<a class="navbar-brand h1" href="http://localhost:5000/blog">Sadarwa Blog -Admin Dashboard</a>
		
			</div>
		
		</div>
		
		
	</nav>
	 {% block body %}
	 
	 {% endblock %}
	 
	 <div style=" margin-bottom:0px; margin-top:10rem">
		<nav class="navbar navbar-expand navbar-dark bg-primary">
		
		
		
			<a class="nav-item nav-link" href="#" active><font color="#fff">Home</font></a>
			<a class="nav-item nav-link" href="#" active><font color="#fff">Recent</font></a>
			<a class="nav-item nav-link" href="#" active><font color="#fff">New</font></a>
		
		</nav>
		<div class="d-block">
			<center>
				<font>Sadarwa &copy; 2019. All rights reserved.</font>
			 </center>
		</div>
		 
		 
	 </div>
	</body>
</html>