{% extends 'base.html' %}
	{% block body %}
	<nav class="navbar navbar-expand-lg navbar-black bg-light">
		<a class="navbar-brand h1" href="#">Sadarwa</a>
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#items" aria-controls="items" aria-expanded="false" aria-label="Second Nav" >
		
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="items">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="#">Home</a>
				<a class="nav-item nav-link" href="#">Recent</a>
				<a class="nav-item nav-link" href="#">About</a>
				<a class="nav-item nav-link" href="#">Contact</a>
				<form class="form-inline ">
					<input type="text" class="form-control mx-sm-2" placeholder="Search">
					<button type="submit" class="form-control btn btn-primary">Search</button>
				</form>
			</div>
			
		</div>
	
	</nav>
		<center>
			{% if login %} 
			<a href="http://localhost:5000/new_post">Add new Post</a>
			<div align="left"><h4>Welcome {{user}}</h4><a href="http://localhost:5000/logout">Logout</a></div>
			
			{% else %}
			 <div><a href="http://localhost:5000/login">Login</a></div>
			 {% endif %}
		</center>
		<hr>
		<div class="container-fluid">
			<div class="row">
			
				<div class="col-md-6 col-lg-8 col-md-12 col-sm-12">
					
					
						
						
							<div>
						{% if blog_posts %}
							<h3 class="text-center">{{r_post.subject}}</h3></div>
							
							<div><img src="{{r_post.img_src}}" class="img-fluid" style="padding-left:4rem; padding-right:4rem;" alt="Img here"/></div>
							<p style="text-align:left; text-decoration:bold; margin-left:5%"></p>
							<p style="font-weight:bold; padding-left:3rem; padding-top:20px; font-size:12px; font-family:courier;" class="text-left rounded">Published on {{r_post.created.date()}} by {{r_post.author}} </p>
							<div style="margin: 3% 20% 10% 5%; text-align:justify"> <br>{{r_post.content |safe}} </div>
							{% if login %} 
							<div class="form-group mx-sm-3" >
								<form method="post" class="form-inline" action="/blog">
								<input class="form-control " name="post_id" value="{{r_post.p_id}}" hidden>
								<input type="text" class="form-control mx-sm-2" placeholder="comment..." name="comment"><button type="submit" class="btn btn-primary">Comment</button>
								
								</form>
							
							</div>
							{% endif %}<!--For comment form-->
							
							
							{% if comments %}
							<div class="mx-sm-4">
								<ul class="list-group">
								
								{% for comment in comments %}
								
								<li class="list-group-item" style="margin-bottom:10px">
								<p style="color:blue; font-family:'aria-rounded',aria,'times-new-roman';font-weight:bold;font-size:18px;">{{comment.commentor}}</p>
								<font style="margin-left:5px">{{comment.comment}}</font>
								</li>
								{% endfor %}
								
							
								</ul>	
							</div>
							
							<!--Show this if no comments available for this post-->
							{% else %}
							<h5 style="font-family:courier">Be the first person to comment on this post</h5>
							{% endif %}
							
				</div>
					
						
					
					<div class="d-xs-none d-sm-none  d-lg-inline col-lg-4 mx-xs-5 mx-xl-0">
					<h3 class="text-center margin-t-0" style="color:#fff;background-color:#1976d2; padding-bottom:1rem;">Recent Post</h3>
					
					
					<ul class="list-group">
						{% for blog in blog_posts %}
						
						
						
							<li class="list-group-item">
							
							<a href="http://localhost:5000/blog/{{blog.p_id}}">{{blog.subject}}</a>
							</li>
						
						{% endfor %}
						</ul>
					<!--Show this if posts are not available-->
					{% else %}
					<h3 style="font-family:sans-serif,Time New Roman, courier; text-decoration:underline,bold; margin-left:5%; text-align:left">No Post on this blog yet</h3><br>
					
					
					{% endif %} <!--For posts availability-->	
			</div>
			<div class="d-lg-none col-md-12 mx-sm-5">
			<h3 class="text-center margin-t-0 mr-sm-5" style="color:#fff;background-color:#1976d2; padding-bottom:1rem;">Recent Post</h3>
			<div class="row mr-sm-5">

					{% for blog in blog_posts %}
					
						<div class="col-md-4 col-sm-6">
							<div class="card mt-sm-3">
								<div class="card-image">
								<img src="{{blog.img_src}}" class="img-fluid" width="100%" height="150px" alt="Img here"/>
								</div>
								<div class="card-title">
								
								</div>
								<div class="card-body">
								<p class="card-text"> {{blog.subject}}</p>
								</div>
								
									
								<div class="card-footer">
									<a href="http://localhost:5000/blog/{{blog.p_id}}">Read More</a>
								</div>	
								</div>
						</div>
						
					
					
						{% endfor %}
						</div>
			
			</div>
				</div>
				
				
			
		</div>
		
		{% endblock %}
		
	