{% extends 'admin_base.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row" id="wrapper">
            
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" id="content-wrapper">
                

                
                
                <div id="footer-wrapper">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" align='center'>
                        <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAwjAAAAJDM4YzMxZmQ3LWI5YjctNDY2OC04OGQxLTc2NTNiZWNhMTg3MQ.png" width="150px" class="img-responsive" alt="footer-logo">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}