{% extends 'base.html' %}
	{% block body %}
	<center style="margin-top:15%">
		<p>Generated Token:<font color="green">{{token}}</font></p>
		<form method="post" action='/login'>
			<h4 style="font-family:courier; color:red">{{error}}</h4>
			<label>Email:
			<div><input type="text" name="email" value="{{email}}"></div>
			</label>
			<label>Password:
				<div><input type="password" name = "password"></div>
			</label> 
			
			<font style="font-family:Sans-serif; font-size:12px;">Don't have an account? <a href="http://localhost:8000/signup">Click here</a> to Signup</font><br>
			<button type="submit" class="btn btn-default">Login</button>
		</form>
	</center>
	
	{% endblock %}